# FastAPI
API_HOST=0.0.0.0
API_PORT=8000
BACKEND_CORS_ORIGINS=http://localhost:8081,http://127.0.0.1:8081

# Roboflow Workflow
ROBOFLOW_API_URL=https://serverless.roboflow.com
ROBOFLOW_API_KEY=replace_with_your_roboflow_api_key
ROBOFLOW_WORKSPACE_NAME=abtinzandi
ROBOFLOW_WORKFLOW_ID=find-bus
ROBOFLOW_USE_CACHE=true
ROBOFLOW_CONFIDENCE=0.4

# Storage
UPLOAD_DIR=../uploads
OUTPUT_DIR=../output
DATASET_NAME=annotationflow_dataset

# Dataset split
TRAIN_RATIO=0.8
VAL_RATIO=0.1
TEST_RATIO=0.1
SPLIT_SEED=42

# YOLO label behavior
INCLUDE_EMPTY_LABELS=false
